In [5]:
import pandas as pd
import numpy as np

In [2]:
def calculate_MA(seq, tau, normalize:bool = False):
    """
    Demonstrates the way pandas calculating EWMA. 
    Normalization is done by dividing each weight by sum of weights.
    """
    T = len(seq)
    MA = np.empty(shape=T)
    for t in range(T):
        weights = np.empty(shape=t+1)
        for i in range(t+1):
            weights[i] = 0.5 ** ((t-i)/tau)
        if normalize: # divide by sum of weights to make weights sum up to 1
            weights = weights/np.sum(weights)

        MA[t] = np.sum(weights*seq[:t+1])
    return MA

In [3]:
def pd_MA(seq, tau, normalize:bool = False):
    return pd.Series(seq).ewm(halflife=tau, adjust=normalize).mean()

In [11]:
seq = np.array([1,0,0,0])
tau = 3

pd.DataFrame({
    "sequence": seq,
    "MA_manual": calculate_MA(seq, tau, normalize=False),
    "MA_pandas": pd_MA(seq, tau, normalize=False),
    "MA_manual_normalized": calculate_MA(seq, tau, normalize=True),
    "MA_pandas_normalized": pd_MA(seq, tau, normalize=True),
}).rename_axis(index="t")

# MA = calculate_MA(seq, tau, normalize=False)
# MA_normalize = calculate_MA(seq, tau, normalize=True)

   sequence  MA_manual  MA_pandas  MA_manual_normalized  MA_pandas_normalized
t
0         1   1.000000   1.000000              1.000000              1.000000
1         0   0.793701   0.793701              0.442493              0.442493
2         0   0.629961   0.629961              0.259921              0.259921
3         0   0.500000   0.500000              0.171018              0.171018

In [288]:
MA, MA_normalize

(array([1.        , 0.79370053, 0.62996052, 0.5       ]),
 array([1.        , 0.44249333, 0.25992105, 0.17101846]))

In [290]:
pd.Series(seq).ewm(halflife=tau, adjust=False).mean(), pd.Series(seq).ewm(halflife=tau, adjust=True).mean()

(0    1.000000
 1    0.793701
 2    0.629961
 3    0.500000
 dtype: float64,
 0    1.000000
 1    0.442493
 2    0.259921
 3    0.171018
 dtype: float64)