In [1]:
# TODO Load at matlab
# problem of shapes with HLA

In [1]:
import scipy.io
import pandas as pd
import os
import numpy as np

PATH = r'C:\Users\yuvfr\proj_university\seminar-bci\p300feature3subjects'

In [2]:
files = os.listdir(PATH)
d_mat = dict()
for f in files:
    d_mat[f] = scipy.io.loadmat(os.path.join(PATH, f), struct_as_record=False, squeeze_me=True)

In [3]:
d_mat.keys()

dict_keys(['AUCvsProb_CK.mat', 'AUCvsProb_HLA.mat', 'AUCvsProb_LV.mat', 'stimSeq_CK_2_19-Jul-2016.mat', 'stimSeq_HLA_010715_all.mat', 'stimSeq_LV_1_19-Jul-2016.mat'])

In [4]:
lv = vars(d_mat['stimSeq_LV_1_19-Jul-2016.mat']['sequenceData'])
lv.update(d_mat['AUCvsProb_LV.mat'])
lv

{'_fieldnames': ['seq', 'seq1', 'seq2', 'q1', 'q2', 'nPast'],
 'seq': array([4., 4., 4., ..., 2., 4., 2.], dtype=float32),
 'seq1': array([1., 1., 1., ..., 0., 1., 0.], dtype=float32),
 'seq2': array([1., 1., 1., ..., 1., 1., 1.], dtype=float32),
 'q1': array([0.4, 0.1, 0.3, 0.2, 0.5]),
 'q2': 0.2,
 'nPast': 7,
 '__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Thu Nov 01 15:27:19 2018',
 '__version__': '1.0',
 '__globals__': [],
 'AUCperTrial': array([ 256.04462 ,   49.928734,  199.27487 , ..., -211.28773 ,
        -366.43512 , -222.10251 ], dtype=float32),
 'probPerTrial': array([0.4, 0.4, 0.4, ..., 0.5, 0.5, 0.5])}

In [5]:
lv['seq1'].shape

(1200,)

In [6]:
df_lv = pd.DataFrame({k:lv[k] for k in ['seq1', 'probPerTrial','AUCperTrial']}).rename(
    columns={"seq1":"block", "probPerTrial":"prob", "AUCperTrial":"auc"})
df_lv["name"] = "LV"
df_lv["trial"] = df_lv.index
df_lv

      block  prob         auc name  trial
0       1.0   0.4  256.044617   LV      0
1       1.0   0.4   49.928734   LV      1
2       1.0   0.4  199.274872   LV      2
3       1.0   0.4   47.050068   LV      3
4       1.0   0.4   79.038933   LV      4
...     ...   ...         ...  ...    ...
1195    0.0   0.5 -776.834595   LV   1195
1196    1.0   0.5  129.645142   LV   1196
1197    0.0   0.5 -211.287735   LV   1197
1198    1.0   0.5 -366.435120   LV   1198
1199    0.0   0.5 -222.102509   LV   1199

[1200 rows x 5 columns]

In [7]:
ck = vars(d_mat['stimSeq_CK_2_19-Jul-2016.mat']['sequenceData'])
ck.update(d_mat['AUCvsProb_CK.mat'])
ck

{'_fieldnames': ['seq', 'seq1', 'seq2', 'q1', 'q2', 'nPast'],
 'seq': array([4., 4., 4., ..., 4., 3., 4.], dtype=float32),
 'seq1': array([1., 1., 1., ..., 1., 1., 1.], dtype=float32),
 'seq2': array([1., 1., 1., ..., 1., 0., 1.], dtype=float32),
 'q1': array([0.3, 0.5, 0.2, 0.4, 0.1]),
 'q2': 0.2,
 'nPast': 7,
 '__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Mon Aug 27 21:07:34 2018',
 '__version__': '1.0',
 '__globals__': [],
 'AUCperTrial': array([  99.77569  ,  240.78757  , -129.40396  , ...,  -21.541965 ,
           4.1745853,   32.881382 ], dtype=float32),
 'probPerTrial': array([0.3, 0.3, 0.3, ..., 0.1, 0.1, 0.1])}

In [8]:
ck['AUCperTrial'] = np.insert(ck['AUCperTrial'], 959, np.nan)
ck['probPerTrial'] = np.insert(ck['probPerTrial'], 959, np.nan)

In [9]:
df_ck = pd.DataFrame({k:ck[k] for k in ['seq1', 'probPerTrial','AUCperTrial']}).rename(
    columns={"seq1":"block", "probPerTrial":"prob", "AUCperTrial":"auc"})
df_ck["name"] = "CK"
df_ck["trial"] = df_ck.index
df_ck

      block  prob         auc name  trial
0       1.0   0.3   99.775688   CK      0
1       1.0   0.3  240.787567   CK      1
2       1.0   0.3 -129.403961   CK      2
3       0.0   0.3  660.356995   CK      3
4       1.0   0.3 -351.846405   CK      4
...     ...   ...         ...  ...    ...
1195    1.0   0.1   87.460083   CK   1195
1196    0.0   0.1  911.066528   CK   1196
1197    1.0   0.1  -21.541965   CK   1197
1198    1.0   0.1    4.174585   CK   1198
1199    1.0   0.1   32.881382   CK   1199

[1200 rows x 5 columns]

In [10]:
data = pd.concat([df_ck, df_lv], ignore_index=True)
data

      block  prob         auc name  trial
0       1.0   0.3   99.775688   CK      0
1       1.0   0.3  240.787567   CK      1
2       1.0   0.3 -129.403961   CK      2
3       0.0   0.3  660.356995   CK      3
4       1.0   0.3 -351.846405   CK      4
...     ...   ...         ...  ...    ...
2395    0.0   0.5 -776.834595   LV   1195
2396    1.0   0.5  129.645142   LV   1196
2397    0.0   0.5 -211.287735   LV   1197
2398    1.0   0.5 -366.435120   LV   1198
2399    0.0   0.5 -222.102509   LV   1199

[2400 rows x 5 columns]

In [11]:
data.to_csv(r'C:\Users\yuvfr\proj_university\seminar-bci\data.csv',index=False)

      block  prob        auc name  trial
0       1.0   0.3   99.77569   CK      0
1       1.0   0.3  240.78757   CK      1
2       1.0   0.3 -129.40396   CK      2
3       0.0   0.3  660.35700   CK      3
4       1.0   0.3 -351.84640   CK      4
...     ...   ...        ...  ...    ...
2395    0.0   0.5 -776.83460   LV   1195
2396    1.0   0.5  129.64514   LV   1196
2397    0.0   0.5 -211.28773   LV   1197
2398    1.0   0.5 -366.43512   LV   1198
2399    0.0   0.5 -222.10251   LV   1199

[2400 rows x 5 columns]

### ZD

In [2]:
PATH = r"C:\Users\yuvfr\proj_university\seminar-bci\subject_data"

In [3]:
def unpack_mat_struct(struct):
    for k in struct.keys():
        if isinstance(struct[k], scipy.io.matlab.mio5_params.mat_struct):
            struct[k] = vars(struct[k])
            unpack_mat_struct(struct[k])
        elif isinstance(struct[k], dict):
            unpack_mat_struct(struct[k])

def recursively_remove_keys(d, d_copy):
    for k in d.keys():
        if k.startswith("__") or k.startswith("_"):
            del d_copy[k]
        elif isinstance(d[k], dict):
            recursively_remove_keys(d[k], d_copy[k])

In [20]:
def read_subject_to_dict(name):
    name_path = os.path.join(PATH, name)
    files = os.listdir(name_path)
    data = {"name":name}
    for f in files:
        abs_filename = os.path.join(name_path, f)
        
        if f.endswith("mat"):
            struct = scipy.io.loadmat(abs_filename, struct_as_record=False, squeeze_me=True)
            unpack_mat_struct(struct)
            data.update(struct)
        
        elif f.endswith("txt"): # txt file consists only a number indicating a bad trial
            with open(abs_filename, 'r') as txt_file:
                data["bad_trial"] = txt_file.read() # reading lazely. processing will be done elsewhere
                
    return data

def preprocess_subject_dict(subject_dict):
    """
    Handle bad trials, including shape missmatches, remove keys with leading __
    """
#     subject_dict_copy = copy.deepcopy(subject_dict)
#     recursively_remove_keys(subject_dict, subject_dict_copy)
#     subject_dict = subject_dict_copy
    if "bad_trial" in subject_dict.keys():
        for k in ["probPerTrial", "AUCperTrial"]:
            subject_dict[k] = np.insert(subject_dict[k], int(subject_dict["bad_trial"])-1, np.nan)
#     subject_dict["bad_trial"] = np.nan
    

def extract_subject_dict_to_df(subject_dict):
    df = pd.DataFrame({
    "block": subject_dict["sequenceData"]["seq1"],
    "prob": subject_dict["probPerTrial"],
    "auc": subject_dict["AUCperTrial"]
    })

    df["name"] = subject_dict["name"]
    df["trial"] = df.index
    df["N"] = subject_dict["featureInfo"]["modelParams"]["pastLength"]
    beta_ind = subject_dict["featureInfo"]["modelParams"]["betaInd"] - 1
    df["beta_ind"] = beta_ind
    df["beta"] = subject_dict["featureInfo"]["modelParams"]["allBeta"][beta_ind]
    
    df["normal_factor"] = subject_dict["featureInfo"]["plotData"]["meanDiffSignalAUC"]
    return df

In [5]:
from tqdm.notebook import tqdm

In [21]:
dfs = []
for name in tqdm(os.listdir(PATH)):
    d_data = read_subject_to_dict(name)
    preprocess_subject_dict(d_data)
    try:
        df = extract_subject_dict_to_df(d_data)
    except Exception as e:
        print(f"Exception in {name}:\n{str(e)}")
        continue
    dfs.append(df)

  0%|          | 0/17 [00:00<?, ?it/s]

Exception in HLA:
All arrays must be of the same length

In [22]:
data = pd.concat(dfs)

In [28]:
data.to_csv('C:\\Users\\yuvfr\\proj_university\\seminar-bci\\subjects_data.csv', index=False)