In [25]:
import pandas as pd

In [27]:
df = pd.read_csv("data/N_by_tau_formula.csv")
df = df.set_index("value")
df.index.name = None
df = df.T
df

    N(IB)  tau(decay)  N(tau~N_formula)
AT     42           1                 1
CK     10          49               190
ES      9          42               162
EW     41          32               122
GG     20          35               134
IG     41           1                 1
LV     12          27               102
MH     19           1                 1
MN     40          18                65
MZ     15           1                 1
RS     42          40               154
SG     27           2                 1
SM     15           1                 1
SN     42          22                81
YF     18          32               122
ZD     16           9                29

In [29]:
import docx

# open an existing document
doc = docx.Document("data/table1.docx")

# add a table to the end and create a reference variable
# extra row is so we can add the header row
t = doc.add_table(df.shape[0]+1, df.shape[1])

# add the header rows.
for j in range(df.shape[-1]):
    t.cell(0,j).text = df.columns[j]

# add the rest of the data frame
for i in range(df.shape[0]):
    for j in range(df.shape[-1]):
        t.cell(i+1,j).text = str(df.values[i,j])

# save the doc
doc.save("data/table1.docx")

In [15]:
import os

In [18]:
os.chdir("..")

In [21]:
os.path.exists("data/table1.docx")

True